body {
	color: #F0E39E;
	background: #FFFFFF;
}
a {
	color: #FF6533;
}
a:hover, a:focus {
	color: #FF4C00;
}
strong {
	color: #A1B55D;
}
#menu  {
	background: #181A12;
}
#menu a {
	color: #FF6533;
}
#menu a:hover, #menu a:focus {
	background: #A30C08;
}
#corps {
	color: #363B29;
	background: #DFDCD3;
}
#corps a {
	color: #332510;
}
#corps a:hover, #contenu a:focus {
	color: #6E5122;
}
#corps strong {
	color: #181A12;
}
body {
	padding: 15px 15px; /* Voir -> Note 1 ci-dessous */
}
#en_tete {
	padding: 20px 0 60px 0;
	background-image: url("images/chaine_puy_auvergne.png");
    background-repeat: no-repeat;
}
#en_tete h1 {
	margin: 5px;
	color:#FEC880;
	font-family:"Comic Sans MS";
}
#en_tete p {
	margin: 10px;
	color:#FEC880;
	font-family:"Comic Sans MS";
}
#en_tete h1 img {
	float: left;
	margin: 0px 0px 0px 0;
}
#menu {
	width: 18%;
	float: left; /* -> 2 */
}
#menu ul {
	margin: 10px;
	padding: 20px 20px;
	list-style: url("images/puce_plus_10.png");
	list-style-position: outside;
}
#menu a {
	display: block;
	height: 1%; /* -> 3 */
	padding: 6px 6px 6px 10px;
	line-height: 1.5;
	font-size: .9em;
	text-decoration: none;
}
#corps {
	margin-left: 19.5%; /* -> 4 */
	margin-bottom: 20px;
	padding: 10px 20px;
}
#corps > :first-child {
	margin-top: 10px;
}
#pied_de_page {
	margin-left: 20%;
	color: #000000;
}
#pied_de_page a {
	color: #000000;
}
#pied_de_page a:hover, a:focus {
	color: #000000;
}
.scriptplantu{
	font-family: "Courier New";
	font-size: 12px;
}
#external li {
	margin: 13px;
}
